@import 'mixins';
@import url('https://fonts.googleapis.com/css?family=Raleway:400,500');
header {
	@include border(red);
	text-align: center;
	vertical-align: middle;
	height: 100vh;
	//color: blue;
	font-family: Raleway;
	//transition: background-color 0.5 ease;

	#wrapper {
		//@include border(black);
		transform: translateY(100px);
		width: 50%;
		margin: auto;
		padding: 2.5em;
		background-color: white;
		border-radius: 0.5em;
		//color: transparent;
		#quote-text {
			//@include border(blue);
			font-size: 1.5em;
			font-weight: 500;
			margin-bottom: 1em;
			//color: transparent;
		}
		#quote-author {
			//@include border(red);
			text-align: right;
			font-size: 1.1em;
			margin-bottom: 1em;
		}
		.buttons {
			display: flex;
			justify-content: space-between;
			color: white !important;
			#new-quote {
				color: white;
				border: none;
				padding: 0.7em;
				border-radius: 0.2em;
				cursor: pointer;
			}
			#tweet-quote {
				text-decoration: none;
				color: white;
				padding: 0.3em 0.45em;
				border-radius: 0.2em;
				font-size: 1.5em;
			}
		}
	}
}